body{
	background-color: #081b7d;
}
.site-nav{
	background-color: #080F2E;
}
.site-nav:before,
.site-nav:after{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
	background-size: 600%;
	width: calc(100% + 1px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animate 20s linear infinite;
}
.site-nav:after{
	filter: blur(20px);
}
@keyframes animate{
	0%{
		background-position: 0 0;
	}
	50%{
		background-position: 300% 0;
	}
	100%{
		background-position: 0 0;
	}
}